Django==5.0.6
celery==5.2.7
django_environ==0.11.2
djangorestframework==3.14.0
matplotlib==3.9.2
pandas==2.2.2
pickle5==0.0.11
plotly==5.22.0
pycountry==24.6.1
reportlab==4.0.8
scikit_learn==1.5.1
mysqlclient==2.2.4
django-active-link==0.1.8
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-filter==24.2
psycopg2==2.9.6
gunicorn==23.0.0
whitenoise==6.2.0
