{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/error-header.html' %}
    
  </head>
  <body class="hold-transition light-skin theme-primary bg-img" style="background-image: url({% static 'images/auth-bg/bg-20.png' %}); background-position: bottom right">

    <section class="error-page h-p100">
      <div class="container h-p100">
        <div
          class="row h-p100 align-items-center justify-content-center text-center"
        >
          <div class="col-lg-7 col-md-10 col-12">
            <div class="rounded10 p-50 ">
              <h1 class="display-4 text-warning">Access Denied!</h1>
              <p class="lead text-muted">
                    You don't have permission to view this page.
              </p>
              <p >
                We're sorry, but you are not authorized to access this resource. Please contact the administrator if you believe this is a mistake.
              </p>
              <div class="mt-4">
                <a href="{% url 'home' %}" class="m-10 btn btn-primary btn-lg">
                  <i class="fa fa-home"></i> Return to Homepage
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'includes/error-script.html' %}
  </body>
</html>