{% extends 'base.html' %}
{% load static %}
{% block headers %}
<style>
    .hero-section {
            background: url('{% static "images/result-repor-bg.jpg" %}') no-repeat center center/cover;
            background-size: cover;
            background-position: center;
            color: #fff;
            text-align: center;
            padding: 5rem 0;
            position: relative;
        }

        .hero-section::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
        }

        .hero-section .container {
            position: relative;
            z-index: 2;
        }

        .hero-section h1 {
            font-size: 3.5rem;
            font-weight: bold;
        }

        .hero-section p {
            font-size: 1.5rem;
        }
        .table-container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
    .table-container table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    .table-container th, .table-container td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .table-container th {
        background-color: #f8f9fa;
    }
    </style>
{% endblock headers %}

{% block content %}
    <section class="content">
        <!-- Hero Section -->
        <section class="hero-section">
            <div class="container text-center">
                <h1 class="display-4">Record Management</h1>
                <p class="lead">View, manage, and filter all questionnaire response records.</p>
            </div>
        </section>
        <div class="container my-5">
            <div class="row mb-4">
                <div class="col text-center">
                    <h2 class="display-5">Filter Records</h2>
                </div>

                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Filter Records</h5>
                        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#filterForm" aria-expanded="true">
                            Toggle Filters
                        </button>
                    </div>
                    <div id="filterForm" class="collapse">
                        <div class="card-body">
                            <form method="get" id="filter-form">
                                <div class="row g-3">
                                    {% for field in filter.form %}
                                        <div class="col-md-4">
                                            {{field.as_field_group}}
                                        </div>
                                    {% endfor %}
                                    <div class="col-md-12 text-center mt-3">
                                      <button id="clear-filters" class="waves-effect waves-light btn btn-outline btn-warning btn-lg me-5"
                                      onclick="clearFilters('filter-form')"
                                      >
                                          <i class="fa fa-fw fa-rotate-left"></i> Reset
                                      </button>
                                      <button type="submit" class="btn btn-primary btn-lg">
                                          <i class="fa fa-search"></i> Apply Filters
                                      </button>
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                <table class="table table-striped">
                    <thead >
                        <tr >
                            <th>#</th>
                            <th>User</th>
                            <th>Created By</th>
                            <th>Progress</th>
                            <th>Date</th>
                            <th>Score</th>
                            <th>Status</th>
                            <th class="table-action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items  %}
                            <tr>
                                <td>{{ forloop.counter|stringformat:"02d" }}</td>
                                <td>{{ item.user }}</td>
                                <td>{{ item.created_by|default:item.user }}</td>
                                <td>{{ item.progress }}%</td>
                                <td>{{ item.submission_date|date:"Y-m-d" }}</td>
                                <td>{{ item.score}}</td>
                                <td >
                                    <span class="btn-rounded badge {% if item.get_state_display == 'Completed' %}badge-success{% else %}badge-danger{% endif %}">
                                        {{ item.get_state_display }}
                                    </span>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="action-icon" 
                                    onclick="navigateToUrl(this)" 
                                    data-url="{% url 'AdminHub:summary' item.id %}"> 
                                        <i class="align-middle" data-feather="edit-2"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="action-icon ms-2" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#deleteModal" 
                                        onclick="confirmDelete('{{ item.id }}')"> 
                                        <i class="align-middle" data-feather="trash"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="action-icon ms-2" 
                                        onclick="navigateToUrl(this)" 
                                        data-url="{% if item.result %}{% url 'AdminHub:detailed_result' item.result.id %}{% endif %}"
                                            > 
                                        <i class="align-middle" 
                                        data-feather="eye{% if not item.result %}-off{% endif %}"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="8" class="text-center">No records available.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if items %}
                    <p class="mt-40 text-center fs-5">
                        Total records found: {{ items|length }}
                    </p>
                {% endif %}
            </div>
                </div>
            </div>
        {% include 'includes/pagenator-1.html' %}
        <!-- Modal -->
        {% include 'patients/includes/pending-results-modal.html' %}
        </div>
        
        
    </section>
{% endblock content %}

{% block scripts %}
    {% include 'patients/includes/pending-results-script.html' %}
{% endblock scripts %}
    