<div class="mt-150">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h2>Feedback and Contact</h2>
            <p>If you have any questions or feedback, please reach out to us or rate us.</p>
        </div>
    </div>
    <!-- User Feedback and Rating Section -->
    <div class="row">
        <div class="col-md-6 mb-4">
            {% include 'patients/includes/feed-back.html' %}
        </div>
        <div class="col-md-6 mb-4">
            {% include 'patients/includes/contact-form.html' %}
        </div>
    </div>
</div>