<section>
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h2>Testimonials and Success Stories</h2>
            <p>Read about the experiences of others who have taken action based on their results.</p>
        </div>
    </div>
    <div class="row">
        
        {% for item in testimonials %}
            <div class="col-md-4">
                <div class="box">
                    <div class="box-body">
                        <h5 class="box-title" >{{item.name}}</h5>
                        <p class="text-muted">"{{item.message}}"</p>
                        <div class="fs-5">Age: {{item.age}} | Risk Level: {{item.risk_level}}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
            
        
    </div>
</section>