{% extends 'base.html' %}
{% load static %}

{% block headers %}
    <style>
            .hero-section {
                background-image: url("{% static 'images/terms-img-1.jpg' %}");
                background-size: cover;
                background-position: center;
                color: #fff;
                text-align: center;
                padding: 5rem 0;
                position: relative;
            }

            .hero-section::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
            }

            .hero-section .container {
                position: relative;
                z-index: 2;
            }

            .hero-section h1 {
                font-size: 3.5rem;
                font-weight: bold;
            }

            .hero-section p {
                font-size: 1.5rem;
            }

    
    </style>
{% endblock headers %}
    

{% block content %}
<div class="content">
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container">
            <h1>Get in Touch with Us</h1>
            <p>
                We’re here to help. Reach out with any questions, concerns, or feedback.
            </p>
        </div>
    </section>
    <!-- Contact Information Section -->
    <section class="container mt-20">
        <div class="row text-center">
            <div class="col-md-4">
                <div>
                    <i class="fa fa-envelope fa-3x mb-3"></i>
                    <h5>Support Email</h5>
                    <p><a href="mailto:{{site_contact_email}}">{{site_contact_email}}</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <i class="fa fa-phone fa-3x mb-3"></i>
                    <h5>Phone Number</h5>
                    <p>{{site_telephone}}</p>
                    <p>Mon-Fri: 9 AM - 5 PM</p>
                    <p>Time Zone: EST</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <i class="fa fa-map-marker fa-3x mb-3"></i>
                    <h5>Mailing Address</h5>
                    <p>{{site_address}}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Form Section -->
    <div class="container py-50">
        <h2 class="text-center mb-4">Contact Form</h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% include 'patients/includes/contact-form.html' %}
            </div>
        </div>
    </div>
    <!-- Support Hours Section -->
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="box pull-up">
                    <div class="box-body">
                        <h2>Support Hours</h2>
                        <p>Monday - Friday: 9 AM - 5 PM (GMT)</p>
                        <p>Saturday - Sunday: Closed</p>
                    </div>
                </div>
            </div>
            <!-- FAQ Link Section -->
            <div class="col-md-6">
                <div class="box pull-up">
                    <div class="box-body">
                        <h2>Have Questions?</h2>
                        <p class="py-5"><a href="{% url 'faqs' %}" class="btn btn-info">Visit Our FAQ Page</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

    