{% load static %}
<script>
 function updateChartBasedOnBg() {
    var bgColorHex = localStorage.getItem('theme-skin');
    let theme = (bgColorHex === 'dark-skin') ? 'dark':'light'; 

    updateChartTheme(theme);
  }

  // Apply the theme to the radar chart
  function updateChartTheme(theme) {
      let newLayout = {};

      if (theme === 'dark') {
          newLayout = {
              'polar.bgcolor': '#0E0E23',
              'polar.angularaxis.linecolor': 'white',
              'polar.radialaxis.gridcolor': 'gray',
              'paper_bgcolor': '#0E0E23',
              'font.color': 'white',
          };
      } else {
          newLayout = {
              'polar.bgcolor': '#ffffff',
              'polar.angularaxis.linecolor': 'black',
              'polar.radialaxis.gridcolor': 'lightgray',
              'paper_bgcolor': '#ffffff',
              'font.color': 'black',
          };
      }

      // Apply the layout updates to the radar chart
      Plotly.relayout('barChart', newLayout);
      Plotly.relayout('pieChart', newLayout);
      Plotly.relayout('radarChart', newLayout);
      Plotly.relayout('histogramChart', newLayout);
      Plotly.relayout('mixedChart', newLayout);
      Plotly.relayout('areaChart', newLayout);
      Plotly.relayout('lineChart', newLayout);
  }

$(document).ready(function() {
    updateChartBasedOnBg()
    // Handle form submission
    $('#filter-form').on('submit', function(e) {
        e.preventDefault(); // Prevent the default form submission

        $.ajax({
            type: 'POST',
            url: "{% url 'AdminHub:data_visualization' %}",
            data: $(this).serialize(),
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function(data) {
                // Update charts with the new data
                $('#apexcharts-pie').html(data.pie_chart_html);
                $('#apexcharts-bar').html(data.bar_chart_html);
                $('#apexcharts-radar').html(data.radar_chart_html);
                $('#apexcharts-histogram').html(data.histogram_chart_html);
                $('#apexcharts-mixed').html(data.mixed_chart_html);
                $('#apexcharts-area').html(data.area_chart_html);
                $('#apexcharts-line').html(data.line_chart_html);
            },
            error: function(xhr, status, error) {
                console.error('AJAX request failed:', status, error);
            }
        });
    });
});
</script>