<div class="modal fade" id="logDetailsModal" tabindex="-1" aria-labelledby="logDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logDetailsModalLabel">Log Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="spinner-border text-primary" role="status" id="loading-spinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div id="log-details-content" style="display: none;">
                    <!-- Dynamic Content Loaded via AJAX -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content shadow-lg rounded-lg">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">
          <i class="fas fa-exclamation-triangle"></i> Confirm Deletion
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="my-3">
          <i class="fa fa-trash-alt fa-3x text-danger mb-3"></i>
          <p class="lead">Are you sure you want to delete selected log(s)?</p>
          <p class="small text-muted">This action cannot be undone.</p>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fa fa-times"></i> Cancel
        </button>
        <button type="button" class="btn btn-danger" id="confirmDeleteButton" onclick="deleteLog()">
          <i class="fa fa-trash"></i> Delete
        </button>
      </div>
    </div>
  </div>
</div>