<script>
  $(document).ready(function() {
            $('#trainModelForm').on('submit', function(e) {
                e.preventDefault();
                const modelType = $('#modelType').val();

                $.ajax({
                    url: $(this).attr('action'),
                    method: 'POST',
                    data: {
                        'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
                        'model_type': modelType
                    },
                    success: function(response) {
                        const taskId = response.task_id;
                        console.log("Task ID:", taskId);
                        
                        // Start polling the progress
                        pollProgress(taskId);
                    },
                    error: function(error) {
                        alert('Error initiating model training.');
                    }
                });
            });

            function pollProgress(taskId) {
                const progressInterval = setInterval(function() {
                    $.ajax({
                        url: `/AdminHub/task-status/${taskId}/`,  // Poll task status using task ID
                        method: 'GET',
                        success: function(response) {
                            if (response.state === "PROGRESS") {
                                let percentage = (response.progress / response.total) * 100;
                                // Update the progress bar
                                $('#progressBar').css('width', percentage + '%').text(percentage.toFixed(2) + '%');
                            }
                            
                            if (response.state === 'SUCCESS' || response.state === 'FAILURE') {
                                clearInterval(progressInterval);  // Stop polling when task is done
                                if (response.state === 'SUCCESS') {
                                    $('#progressBar').css('width', '100%').text('100%');
                                    let success = true;
                                     showToast("Success", "Model training completed successfully!", "success");
                                     if(success){
                                        setTimeout(() => {
                                            window.location.reload();
                                        }, 3500);
                                     }
                                } else {
                                    showToast("Error", "Model training failed!", "error");
                                    
                                }
                            }
                        },
                        error: function() {
                            showToast("Error", "Error fetching task status.", "error");
                            clearInterval(progressInterval);  // Stop polling on error
                        }
                    });
                }, 2000);  // Poll every 2 seconds
            }
        });

  let modelIdToDelete = null;
  function confirmDelete(modelId) {
    modelIdToDelete = modelId
  }
  function populateModelModal(data) {
    const modalContent = `
      <h4 class="fw-bold">${data.name}</h4>
      <div class="row mb-3">
        <div class="col-md-6 col-12">
          <p class="text-muted mb-0">${data.model_type}</p>
        </div>
        <div class="col-md-6 col-12">
          <small class="text-muted">Trained on: ${data.date_trained}</small>
        </div>
      </div>
      <hr />
      <div class="row mb-3">
        <div class="col-md-6 col-12">
          <h5 class="fw-bold">Version:</h5>
          <p>V${data.version}</p>
        </div>
        <div class="col-md-6 col-12">
          <h5 class="fw-bold">Accuracy:</h5>
          <p>${data.accuracy}</p>
        </div>
        <div class="col-md-6 col-12">
          <h5 class="fw-bold">Precision:</h5>
          <p>${data.precision}</p>
        </div>
        <div class="col-md-6 col-12">
          <h5 class="fw-bold">Recall:</h5>
          <p>${data.recall}</p>
        </div>
        <div class="col-md-6 col-12">
          <h5 class="fw-bold">F1 Score:</h5>
          <p>${data.f1_score}</p>
        </div>
        <div class="col-md-6 col-12">
          <h5 class="fw-bold">Is Default:</h5>
          <p>${data.is_default}</p>
        </div>
      </div>
    `;
    $('#modelContainer').html(modalContent)
  }
  function openModal(modelId) {
    url = "{% url 'AdminHub:model_detail' 1 %}".replace('1', modelId);
    if (modelId) {
      $.ajax({
        url: url,
        method: 'GET',
        success: function (data) {
          populateModelModal(data)
        },
        error: function (xhr) {
          $('#modelContainer').html()
          showToast('Error', 'Model not found', 'error');
        },
      });
    }
  }
</script>